].sidebar {
	background-color: #C5E5B3;
	/*height:800px;*/
}

#btnSubmit {
	margin-top: 5px;
}

.navbar {
	background: #343a40;
	padding:10px;
}

label {
	font-weight: 600;
}
h3 {
	font-family: calibri;
	text-transform: uppercase;
	font-weight: 600;
}

#preco, #qtd{
	width:90px;
}
.idx {
	background-color: #fff;
	height: 800px;
}

.container {
	padding-top: 50px;
}

.sdbar a {
	color: #fff;
	text-transform: uppercase;
}

button {
	width:200px;
}

.manage-icon { 
	width: 20px;
 }